<section id="landing">
    <div class="image-box">
        <img class="max" src="/images/landing.png" alt="">
        <img class="mini" src="/images/landing-mini.png" alt="">
    </div>
    <div class="buttons">
        <a href="/add-info">ჩანაწერის დამატება</a>
        <a href="/list">ჩანაწერების სია</a>
    </div>
</section>

<script>
    localStorage.clear();
</script>