<section id="success">
    <div>
        <div class="image">
            <img src="/images/success.png" alt="">
        </div>
        <h2>ჩანაწერი დამატებულია!</h2>
        <a href="/list" class="list">სიაში გადაყვანა</a>
        <a href="/" class="landing">მთავარი</a>
    </div>
</section>

<script>
    localStorage.clear()
</script>