<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{!-- FontAwesome Link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    {{!-- Main CSS Link --}}
    <link rel="stylesheet" href="/css/main.css">

    {{!-- Landing CSS Link --}}
    <link rel="stylesheet" href="/css/landing.css">

    {{!-- Add CSS Link --}}
    <link rel="stylesheet" href="/css/add.css">

    {{!-- Success CSS Link --}}
    <link rel="stylesheet" href="/css/success.css">

    {{!-- List CSS Link --}}
    <link rel="stylesheet" href="/css/list.css">
    
    {{!-- Record CSS Link --}}
    <link rel="stylesheet" href="/css/record.css">

    {{!-- Page Title --}}
    <title>{{page_title}}</title>
</head>